<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ingrese Sus datos</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <form>
            <form class="text-left" (ngSubmit)="sipRegister()" ngNativeValidate>

                <br>
                <label class="label">Impi : </label>
                <input id="impi" name="impi" type="impi" class="form-control" [(ngModel)]="dataform.impi" value="" required placeholder="2250">
                <br>
                <label class="label">Impu : </label>
                <input id="impu" name="impu" type="impu" class="form-control" [(ngModel)]="dataform.impu" value="" required placeholder="sip:2250@voip.uxomnitech.com">
                <br>
                <label class="label">Password : </label>
                <input id="password" name="password" type="password" class="form-control" [(ngModel)]="dataform.password" value="" required placeholder="***********">
                <br>
                <label class="label">Display name : </label>
                <input id="display_name" name="display_name" type="display_name" class="form-control" [(ngModel)]="dataform.display_name" value="" required placeholder="santiago">
                <br>
                <label class="label">Websocket proxy url : </label>
                <input id="websocket_proxy_url" name="websocket_proxy_url" type="websocket_proxy_url" class="form-control" [(ngModel)]="dataform.websocket_proxy_url" value="" required placeholder="wss://voip.uxomnitech.com:8089/ws">
                <br>
                <button type="submit" class="btn btn-warning">Login</button>
            </form>

        </form>
    </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Login</button>